body {
margin : 0 ;
padding :0 ;
}

.navbar {
  background-color: #c52743;
}
.navbar .navbar-brand {
  color: #eef5f7;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #0d0c0d;
}
.navbar .navbar-text {
  color: #eef5f7;
}
.navbar .navbar-text a {
  color: #0d0c0d;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #0d0c0d;
}
.navbar .navbar-nav .nav-link {
  color: #eef5f7;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar-toggler{
color : blue !important ;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #0d0c0d;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #c52743;
  border-color: #462abb;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #eef5f7;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #0d0c0d;
  background-color: #462abb;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #462abb;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #0d0c0d;
  background-color: gray;
}
.navbar .navbar-toggle {
  border-color: #462abb;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #462abb;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: white;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #eef5f7;
}
.navbar .navbar-link {
  color: #eef5f7;
}
.navbar .navbar-link:hover {
  color: #0d0c0d;
}
/* header */
#main-header {
background-color : black ;
color : white ;
}
#side-menu .list-group .active {
background-color : #c52743;
}
/* progress */
h4 {
color : #c52743 ;
}
.progress-bar {
background-color : #333333 ;
color : #ffffff ;
}
.card-header {
background-color : #c52743;
color : white ;
}
.card-item{
background-color : #e9ecef ;
padding-top : 10px ;
padding-bottom : 10px ;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #eef5f7;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #0d0c0d;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #0d0c0d;
    background-color: #462abb;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #eef5f7;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #0d0c0d;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #0d0c0d;
    background-color: #462abb;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #eef5f7;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #0d0c0d;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #0d0c0d;
    background-color: #462abb;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #eef5f7;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #0d0c0d;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #0d0c0d;
    background-color: #462abb;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #eef5f7;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #0d0c0d;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #0d0c0d;
  background-color: #462abb;
}